* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #252324;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 150ms linear;
}

.text-white {
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #252324;
}

nav>ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #252324;
}

nav>ul>li {
    position: relative;
    padding: 0.3rem 0;
    margin: 0.3rem 0;
    font-size: 1.3rem;
    cursor: pointer;
}

nav>ul>li::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    width: 0%;
    margin: auto;
    background-color: white;
    transition: all 150ms linear;
}

nav>ul>li:hover::after {
    width: 100%;
}

nav>span {
    position: relative;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: 1px solid white;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: all 150ms linear;
}

nav>span:hover {
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

table {
    margin: auto;
}

table,
thead,
tbody,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    font-size: 1.3rem;
}

#btn,
#glow-btn {
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    transition: all 150ms linear;
}

#btn:hover,
#glow-btn:hover {
    transform: scale(1.05);
}

#btn:active,
#glow-btn:active {
    transform: scale(1);
}

.name-alpha {
    font-size: 2rem;
    opacity: 0;
    transition: all 150ms linear;
}

.show {
    opacity: 1;
}

.bgyellow {
    background-color: yellow;
}